<link rel="stylesheet" href="{{ '/assets/css/reset.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/fonts.css' | relative_url }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}">
<script src="https://kit.fontawesome.com/5cc39898d3.js" crossorigin="anonymous"></script>

<link rel="alternate" type="application/rss+xml" href="http://www.me3comedy.com/seasons.xml" />


<!-- Twitter Share Content -->
<meta name=”twitter:card” content=”summary_large_image”>
<meta name=”twitter:site” content=”{{ page.permalink | default: "https://methreecomedy.com" }}”>
<meta name=”twitter:creator” content=”@{{site.twitter_username}}”>
<meta name=”twitter:title” content=”{{ page.title | default: "Me3 Podcast"}}”>
<meta name=”twitter:description” content=”{{page.twitter_description | default: site.description }}”>
<meta name=”twitter:image” content=”{{ site.url | append: page.podcast_album_art | default: site.description }}">
