{% assign seasons = site.data.seasons-wiki | where:"episodes", include.episode %}
{% assign completed = seasons | where: "completed", true | sort: "season_title" %}
{% assign suggested = seasons | where: "completed", false | sort: "season_title" %}

<section id="season-container">

    <p>
      We have collected all of the suggested and completed seasons mentioned in this podcasts 
      </p>


  <h2>Completed Seasons</h2>

     {% for season in completed %}
         {% include season-item.html season=season %}
      {% endfor %}


  <h2>Suggested Seasons</h2>
  <ul class="attached-seasons">
    {% for season in suggested %}
      <li> <a class="link grey" href="{{ page.url }}#{{season.season_title | replace: " ", "-"}}">{{season.season_title}}</a></li>
    {% endfor %}
  </ul>

</section>