<!-- Twitter Share Content -->
<meta name=”twitter:card” content=”summary_large_image”>
<meta name=”twitter:site” content=”{{ page.permalink | default: "https://Me3comedy.com" }}”>
<meta name=”twitter:creator” content=”@{{site.twitter_username}}”>
<meta name=”twitter:title” content=”{{ page.title | default: "Me3 Podcast"}}”>
<meta name=”twitter:description” content=”{{page.twitter_description | default: site.description }}”>
<meta name=”twitter:image” content=”{{ site.url | append: page.podcast_album_art }}">
