@media screen and (min-width: 480px) {
  .mobile { display: none !important;}
}

@media screen and (max-width: 480px) {
  .desktop { display: none !important;}
}

body {
  background: url('../header_bg.jpg');
}

body, p, table {
  font-family: 'Poppins', sans-serif;
}

p {
  font-weight: 400;
  line-height: 1.4rem;
  margin: 1ch 0;
}

a, a:active, a:visited, a:hover {
  text-decoration: none;
  font-weight: 500;
  color: red;
}

header {
  display: flex;
  color: #fff;
  font-weight: 700;
  padding: 3vh 5vw;
  font-size: 2rem;
  background: black;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  font-family: 'Special Elite', cursive;
}

header a {
  color: #fff !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Special Elite', cursive;
}

@media screen and (max-width: 480px) {
  header {
    justify-content: center;
  }
}

header #header-links {
  display:flex;
}

header #header-links li {
  padding-right: 2vw;
}

#logo {
  width: 10vh;
    margin-left: -1vh;
}

.wrapper{
  width: 90vw;
  padding-top: 4vh;
  min-height: 77vh;
  margin: 0 auto;
}

#home-container {
  margin-top: 3vh;
  display: flex;
}

@media screen and (max-width: 480px) {
  #home-container {
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

.home .podcast {
  background: white;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3vh;
  margin-right: 2vw;
  padding: 2vh;
  flex: 19%;
  max-width: 25%;
}

@media screen and (max-width: 480px) {
  .home .podcast {
    flex: 100% !important;
      max-width: 100% !important;
      margin-right: 0 !important;
  }
}


.home #page-container {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.home .podcast p{
  margin: 2vh 0 0 0;
  color: black;
}

.home .podcast a {
  color: black;
}

.home-podcast-art {
  margin: 0 auto;
  width: 100%;
}

footer {
  position: relative;
  display: flex;
  bottom: 0;
  padding: 2vh 5vw;
  background: white;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

footer ul {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

footer ul h4 {
  margin-bottom: 1vh;
}

footer ul li {
  padding: 0.3vh;
}

/* PODCASTS INDEX PAGE */
.podcasts-index {}
.podcasts-index .podcast {
  background: white;
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    margin-bottom: 3vh;
}

.podcasts-index .podcast {
  display: flex;
  padding: 2vh;
}

@media screen and (max-width: 480px) {
  .podcasts-index .podcast {
    padding: 3vh 3vw !important;
  }
}

.podcasts-index .podcast .podcast-art {
  width: 20vw
}

.podcasts-index .podcast .info-container{
  margin-left: 2vh;
  width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.podcasts-index .podcast .info-container .tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1vh;
}

.podcasts-index .podcast .info-container h2 {
  font-size: 2.4rem;
  color: black;
}

.category, .tag {
  background-color: black;
  color: white;
  margin-right: 0.7vw;
  margin-bottom: 0.7vw;
  padding: 0.4vw;
}

@media screen and (max-width: 480px) {
  .category, .tag {
    margin-right: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
    padding: 1vw;
  }
}

.main {
  background: orange !important;
}

.podcasts-index .podcast .info-container p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-right: 1vw;
}

.podcasts-index .podcast .info-container .info > * {
  margin-bottom: 1vh;
}

.podcasts-index .podcast .info-container .footer {
  display: flex;
  align-self: flex-end;
}

@media screen and (max-width: 480px) {
  .podcasts-index .podcast .info-container .footer {
    flex-direction: column;
    margin-top: 1vh;
  }
}

.social-icon-small {
  width: 1.2rem;
  margin: 0 0.4em;
}



/* PODCAST PAGE */
.podcast-page {
  display: flex;
  flex-direction: column
}

.podcast-page .podcast-header {
  display: flex;
  flex-direction: column;
  /* padding: 2vh; */
}

.podcast-header audio {
width: 100%;
margin: 2vh 0;
}

.podcast-page .podcast-main {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 2vh;
}

.podcast-header .podcast-art{
  width: 40vh;
}

@media screen and (max-width: 480px) {

  .podcast-page .podcast-main {
    flex-direction: column !important;
  }
  .podcast-header .podcast-art{
    width: 100%;
  }
  .podcast-header .footer {
    flex-direction: column;
  }
  .podcast-header .footer > * {
    margin-bottom: 1vh;
  }

}



.podcast-header .info-container{
  display: flex;
  flex-direction: column;
  padding-left: 2vh;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-right: 1vw;
}

.podcast-header .info-container h1 {
  font-size: 3rem;
  margin: 1vh 0 0;
  line-height: 3.1rem;
}

.podcast-header .info {}
.podcast-header .info .tags {
  display: flex;
  flex-wrap: wrap;
}

.podcast-header .category, .podcast-header .tag {
  margin-bottom: 0.7vh;
}

.podcast-header .footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2vh;
  flex-wrap: wrap;
  font-size: 1.4rem;
  background-color: black;
  color: white;
}

.podcast-header .podcast-player {
  padding: 2vh;
  background-color: white;
}

.podcast-header .footer > * { margin-right: 2vw;}


hr {
  background-color: orange;
    border: 2pt solid orange;
    width: 90%;
}

/*  Podcast Page Episode */

.podcast-episode{
  display: flex;
    flex-direction: column;
    margin: 2vh 0;
    padding: 2vh;
}

.podcast-episode .header {
  display: flex;
    flex-direction: column;
}
.podcast-episode:nth-child(even){
  background-color: white
}
.podcast-episode:nth-child(odd){
  background-color: grey
}

.podcast-episode .podcast-art{
  width: 10vw;
  height: 100%;
}
.podcast-episode audio {
  width: 60%;
}
.podcast-episode .info-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-right: 1vw;
}

.podcast-episode .info {
  padding-left: 2vh;
}

.podcast-episode .header h2 {
  align-self: flex-start;
  font-size: 1.2rem;
    color: white;
    background-color: black;
    margin: 1vh 0 0;
    line-height: 1.3;
    padding: 1vw;
    margin-bottom: 1vh;
}
.podcast-episode .info-container p {
  font-size: 1rem;
  margin: 1vh 0 0;
  line-height: 1.1rem;
}

#episode-notes {
  display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2vh;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: center;
    align-items: flex-start;
}

#episode-notes h2 {
  font-size: 2rem;
  line-height: 2.1rem;
  color: black;
  margin: 0.5rem 0;
}

#episode-notes h3 {
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: black;
  margin: 0.3rem 0;
}

.season-list ul {
  margin-top: 1rem;
}
.season-list li {
  padding: 0.5rem;
}

.attached-seasons {
  display: flex;
  flex-wrap: wrap;
}

.attached-seasons li {
  line-height: 1.3rem;
}

.attached-seasons li:after {
  content: "·";
  padding: 0 1ch;

}

.attached-seasons li:last-child:after {
  content: "";
}


/* season filter */
input[type="radio"][id="completed"]:checked ~ .incomplete {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
  display: none;
}

input[type="radio"][id="incomplete"]:checked ~ .complete {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
  display: none;
}

.season-item {
  margin: 2vh 0;
  background: white;
  padding: 1ch;
}

/* .season-item:first-of-type {
  margin-top: 2vh;
} */

.season-item h2 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 1ch;
  line-height: 1.6rem;
}

.season-item .header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.season-item .subheader {
  line-height: 1.2rem;
  margin: 1ch 0;
}


.season-item .tag {
 background-color: darkred;
 font-size: 0.8rem;
 color: palevioletred;
 margin-right: 0.7vw;
 margin-bottom: 0.7vw;
 padding: 0.4vw;
}

.green {
  background-color: green !important;
  color: lightgreen !important;
}

ul.films li {
  font-weight: 800;
  margin: 1ch 0 0 1ch;
}

.link.grey {
  color: grey !important;
}
